@use '../../_styles/breakpoints.scss' as *;

.project {
    width: 100vw;
    position: relative;
    top: 100px;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: var(--padding-page);
    padding-right: var(--padding-page);
    overflow-y: scroll;

    cursor: url('/svg/project.svg'), auto;

    @include sm {
        // padding: 150px 20px;
        // height: calc(100vh - 170px);
    }

    &_arrow {
        font-size: 2em;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 50px;

        font-weight: 300;

        &:hover {
            font-weight: 300;
            &::before {
                left: -5px;
            }
        }

        &::before {
            content: "";
            background-image: url(/svg/arrow.svg);
            background-size: 30px 30px;
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            transition: all ease 0.3s;
            left: 0;
        }

        // img {
        //     width: 50px;
        // }
    }

    &_title {
        font-size: var(--font-size-big);
        margin-bottom: 50px;
        text-transform: uppercase;
        width: 70%;
        font-weight: 300;
        @include sm {
            margin-bottom: 20px;
        }
    }

    &_info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 50px;

        @include sm {
            flex-direction: column-reverse;
            margin-bottom: 30px;
        }

        &_description {
            font-size: var(--font-size-medium);
            width: 70%;
            font-weight: 300;
            @include sm {
                width: 100%;
                font-weight: 500;
            }

            p {
                margin-bottom: 30px;
            }
        }

        &_credits {
            font-size: var(--font-size-small);
            text-align: right;
            margin-bottom: 10px;
        }

        &_right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: sticky;
            top: 0px;
            height: fit-content;
            width: 30%;
            @include sm {
                position: initial;
                width: 100%;
            }
        }

    }

    &_images {
        columns: 1;
        column-gap: 10px;

        figure {
            width: 100%;
            margin-bottom: 10px;
            img, video {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }
    }

    &_link {
        text-transform: uppercase;
        font-size: var(--font-size-medium);
        &:hover {
            font-weight: 800;
        }
    }

    &_next {
        text-align: right;
        width: 100%;
        &_link {
            font-size: var(--font-size-big);
            text-transform: uppercase;
            width: fit-content;
            
        }
    }

}