@use '../_styles/breakpoints.scss' as *;

.about {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 100vh;
  padding-left: var(--padding-page);
  padding-right: var(--padding-page);
  background-color: var(--jgd--black);

  cursor: url('/svg/contact-me.svg'), auto;

  /* cursor: url('/svg/scroll.svg'), auto; */

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 50vh;

    @include sm {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      height: auto;
    }
  }

  &_about {
    width: 100%;

    &_description {
      font-size: 2em;
      margin-bottom: 50px;
      width: 70%;
      font-weight: 300;

      p {
        margin-bottom: 50px;
        @include sm {
          margin-bottom: 30px;
        }
      }

      @include sm {
        width: 100%;
        font-size: 1em;
      }
    }

    &_info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include sm {
        flex-direction: column;
        align-items: normal;
      }
    }

    &_make {
      font-size: var(--font-size-big);
      width: 100%;

      @include sm {
        font-size: 3em;
        margin-bottom: 20px;
      }
    }

    &_friends {
      text-align: right;

      @include sm {
        margin-bottom: 30px;
      }

      &_title {
        font-size: 3em;

        @include sm {
          font-size: 2em;
        }
      }

      strong {
        font-size: 2em;
        font-weight: 100;

        @include sm {
          font-size: 1em;
        }
      }
    }

  }

  &__marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0px;

    &__content {
      display: inline-block;
      margin-top: 5px;
      animation: marquee 80s linear infinite;

      &__1 {
        position: relative;
        left: 0%;
        animation: swap 80s linear infinite;
      }

      &__skill {
        display: inline-block;
        padding: 0 50px;

        font-size: var(--font-size-big);
        text-transform: uppercase;
      }
    }
  }

  &__friends {
    text-align: right;
    text-transform: uppercase;
    line-height: 1.2;

    @include sm {
      margin-bottom: 50px;
    }

    h3 {
      font-size: var(--font-size-medium);
    }

    a,
    p {
      font-size: var(--font-size-small);

      &:hover {
        font-weight: 800;
      }

      @include sm {
        font-size: var(--font-size-smaller);
      }
    }
  }

  &_achievements {
    text-align: left;
    margin-bottom: 100px;
    &_title {
      margin-bottom: 20px;
    }
    &_text {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-small);
      @include sm {
        font-size: var(--font-size-smaller);
      }
      div {
        border-top: 1px solid var(--jgd--white);
        border-bottom: 1px solid var(--jgd--white);
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        transition: all .5s ease;
        
        &:hover {
          padding: 20px 10px 20px 30px;
          background-color: var(--jgd--white);
          * {
            color: var(--jgd--black);
          }
        }

        &:last-child {
          border-top: none;
        }
        div {
          padding: 0px;
          width: calc(100% / 3);
          border-bottom: none;
          border-top: none;
          &:hover {
            padding: 0px;
            background-color: transparent;
          }
          &:last-child {
            text-align: right;
            * {
              text-align: right;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}


@keyframes swap {

  0%,
  50% {
    left: 0%;
  }

  50.01%,
  100% {
    left: 100%;
  }
}

.animation {
  transition-timing-function: linear !important;
}