@use '../_styles/breakpoints.scss' as *;

.about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 100vh;
    padding-left: var(--padding-page);
    padding-right: var(--padding-page);

    cursor: url('/svg/hola.svg'), auto;

    /* cursor: url('/svg/scroll.svg'), auto; */

    &_about {
      width: 100%;

      &_description {
        font-size: 2em;
        margin-bottom: 50px;
        width: 70%;
        font-weight: 300;
        @include sm {
          width: 100%;
          font-size: 1em;
        }
      }

      &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include sm {
          flex-direction: column;
          align-items: normal;
        }
      }

      &_make {
        font-size: var(--font-size-big);
        width: 100%;
        @include sm {
          font-size: 3em;
          margin-bottom: 20px;
        }
      }

      &_friends {
        text-align: right;

        @include sm {
          margin-bottom: 30px;
        }

        &_title {
          font-size: 3em;
          @include sm {
            font-size: 2em;
          }
        }
        strong {
          font-size: 2em;
          font-weight: 100;

          @include sm {
            font-size: 1em;
          }
        }
      }
      
    }

    &__marquee {
      &__slide {
        position: relative;
        width: auto;
        font-size: var(--font-size-big);
        margin-left: 10px;
        margin-right: 10px;
        text-transform: uppercase;
      }

    }

    &__friends {
      margin-top: 30px;
      text-align: right;
      text-transform: uppercase;

      h3 {
        font-size: var(--font-size-medium);
      }

      a, p {
        font-size: var(--font-size-small);
        &:hover {
          font-weight: 800;
        }

        @include sm {
          font-size: var(--font-size-smaller);
        }
      }
    }
}

.animation {
  transition-timing-function: linear !important;
}