@use '../_styles/breakpoints.scss' as *;

.labpage {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  position: relative;
  top: 100px;

  @include sm {
    height: calc(100vh - 170px);
  }

  &_tech {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2em;

    @include sm {
      display: none;
    }

  }
}

.swiperslide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 170px);
    position: relative;
}

.experiment {
  &:hover {
    video {
      opacity: 1;
      filter: grayscale(0);
      width: 150%;
      z-index: 10;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      @include sm {
        width: 100%;
      }
    }

    .experiment_infoElement {
      width: 150%;

      @include sm {
        width: 100%;
      }
    }
  }

  &_videoElement {
    position: relative;
    opacity: 0.5;
    /* S */
    transform: scale(1);
    transition: all ease 0.5s;
    z-index: 0;
    box-shadow: 0px;
    margin-bottom: 20px;
    max-height: 70%;

    width: 100%;
    height: auto;

    max-height: calc(100vh - 200px);
    object-fit: cover;

    @include sm {
      opacity: 1;
    }

  }
  
  &_infoElement {
    opacity: 0;
    text-align: center;

    display: none;
    
    &_show {
      animation: show-info 1s forwards 0.2s;
      @include sm {
        animation: none;
      }
    }

    @include sm {
      display: block;
      opacity: 1;
    }
  }
}


@keyframes show-info {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
    // width: 100%;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
    // width: 150%;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}